body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.rnpix_head {
  width: auto;
  display: block;
  margin-bottom: 10px;
}

.rnpix_head .rnpix_title {
  font-weight: bold;
  font-size: 18px;
  width: auto;
  margin-right: 20px;
  text-align: center;
}
.rnpix_head a.rnpix_button {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  margin: auto;
  display: inline-block;
  width: 5em;
  text-align: center;
  font: 24px bold;
  text-decoration: none;
  background-color: #EEE;
  color: #333;
  padding: 2px 6px;
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.rnpix_day img {
  max-width: 100%;
}

.rnpix_day figure {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
}

.rnpix_day figcaption {
  /* this is a fudge; assumes thumbs x150 */
  margin-top: 5px;
  width: 350px;
  display: block;
  caption-side: bottom;
}

.rnpix_search_widget input {
  width: 200px;
  font-size: 20px;
}

.rnpix_search_widget figure {
  margin-top: 20px;
}

.rnpix_search_widget figure img {
  vertical-align: top;
}

.rnpix_search_widget figure .rnpix_image {
  text-align: right;
  vertical-align: top;
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.rnpix_search_widget figure figcaption {
  text-align: left;
  display: inline-block;
  max-width: 300px;
}

.rnpix_search_widget a {
  text-decoration: none;
  color: black;
}
